---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeDots from "@/components/icons/CodeDots.astro"
import ExternalLink from "@/components/icons/ExternalLink.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Sparkles from "@/components/icons/Sparkles.astro"
import UserHeart from "@/components/icons/UserHeart.astro"
import Education from "@/components/Education.astro"
import Certifications from "@/components/Certifications.astro"
import Stack from "@/components/Stack.astro"
import Blog from "@/components/Blog.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
  title="Portfolio de Gabriel Olivieri - Software Engineer y DevOps"
  description="Portfolio personal de Gabriel Olivieri. Software Engineer y DevOps en UTN FRBA con experiencia en desarrollo web, automatización, nube y proyectos multiplataforma."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="formacion">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Formación académica
      </TitleSection>
      <Education />
    </SectionContainer>

    <SectionContainer id="stack">
      <TitleSection>
        <CodeDots class="size-7" />
        Stack
      </TitleSection>
      <Stack />
    </SectionContainer>

    <SectionContainer id="certificaciones">
      <TitleSection>
        <Sparkles class="size-8" />
        Certificaciones y badges
      </TitleSection>
      <Certifications />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeDots class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="blog">
      <TitleSection>
        <ExternalLink class="size-8" />
        Blog
      </TitleSection>
      <Blog />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <UserHeart class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>

  </div>
  </main>
</Layout>
