---
import Layout from "@/layouts/Layout.astro"

import Briefcase from "@/components/icons/Briefcase.astro"
import CodeDots from "@/components/icons/CodeDots.astro"
import ExternalLink from "@/components/icons/ExternalLink.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Sparkles from "@/components/icons/Sparkles.astro"
import Education from "@/components/Education.astro"
import Certifications from "@/components/Certifications.astro"
import Stack from "@/components/Stack.astro"
import Blog from "@/components/Blog.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
  title="Gabriel Olivieri - Full Stack Developer"
  description="Portfolio personal de Gabriel Olivieri. Full Stack Developer con +5 años de experiencia creando soluciones digitales innovadoras. Explora mi experiencia laboral, formación académica, stack tecnológico, certificaciones y proyectos destacados."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        <span data-i18n="sections.experiencia">Experiencia laboral</span>
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="formacion">
      <TitleSection>
        <ProfileCheck class="size-8" />
        <span data-i18n="sections.formacion">Formación académica</span>
      </TitleSection>
      <Education />
    </SectionContainer>

    <SectionContainer id="stack">
      <TitleSection>
        <CodeDots class="size-7" />
        <span data-i18n="sections.stack">Stack</span>
      </TitleSection>
      <Stack />
    </SectionContainer>

    <SectionContainer id="certificaciones">
      <TitleSection>
        <Sparkles class="size-8" />
        <span data-i18n="sections.certificaciones">Certificaciones y badges</span>
      </TitleSection>
      <Certifications />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeDots class="size-7" />
        <span data-i18n="sections.proyectos">Proyectos</span>
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="blog">
      <TitleSection>
        <ExternalLink class="size-8" />
        <span data-i18n="sections.blog">Blog</span>
      </TitleSection>
      <Blog />
    </SectionContainer>

  </div>
  </main>
</Layout>
